# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

*.tar
# exclude build output:
build/*
# exception to the rule, so we keep the folder itself ...
!build/.gitkeep

# exclude .vscode folder
/.vscode

# exclude Python cache
__pycache__
# exclude python rubbish
.pyc
.pyo

# exclude experimental stuff:
experimental/*
*/experimental/*
